{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-push-2 col-md-4" style="font-size: 16pt;">
            <div><span style="display: flex; align-items: center;float:left;">Galiojanti sutartis -&nbsp</span><i style="font-size: 24pt; color: darkgreen;" class="glyphicon glyphicon-ok-sign"></i></div><br>
            <div><span style="display: flex; align-items: center;float:left;">Galiojanti, mažiau nei metai iki pabaigos -&nbsp</span><i style="font-size: 24pt; color: teal;" class="glyphicon glyphicon-info-sign"></i></div><br>
            <div><span style="display: flex; align-items: center;float:left;">Sustabdyta sutartis -&nbsp</span><i style="font-size: 24pt; color: #e5b700;" class="glyphicon glyphicon-remove-circle"></i></div><br>
            <div><span style="display: flex; align-items: center;float:left;">Atšaukta sutartis -&nbsp</span><i style="font-size: 24pt; color: darkred;" class="glyphicon glyphicon-remove-sign"></i></div><br>
            {#TODO: count users and show, count items#}
        </div>
    </div>
{% endblock %}
