{% extends 'base.html.twig' %}

{% block body %}
    <span><i style="font-size: 24pt; color: darkgreen;" class="glyphicon glyphicon-ok-sign"></i></span>
    <span><i style="font-size: 24pt; color: darkred;" class="glyphicon glyphicon-remove-sign"></i></span>
    <span><i style="font-size: 24pt; color: #e5b700;" class="glyphicon glyphicon-remove-circle"></i></span>
{% endblock %}
